---
import MarkdownIt from 'markdown-it';
import Image from 'src/components/image.astro';
import CTA from 'src/components/cta.astro';
const { content, image, cta, layout, grid_items } = Astro.props;
const md = new MarkdownIt({ html: true });
---
<style lang="scss">
  .wrapper {
    @extend %primary-wrapper;
    padding: 4.5rem 0;

    @include media-tablet {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &--left {
      @extend .wrapper;
    }

    &--right {
      @extend .wrapper;
      @include media-tablet {
        flex-direction: row-reverse;
      }
    }
  }
  .content {
    @include media-tablet {
      flex: 0 1 auto;
    }

    @include media-tablet-max {
      padding-bottom: 4rem;
    }
  }
  .image {
    margin-bottom: -50px;

    @include media-tablet-max {
      z-index: -1;
    }

    @include media-tablet {
      margin-bottom: 0;
      flex: 0 0 50%;
    }

    &--small {
      @extend .image;
      @include media-tablet {
        flex: 0 0 35%;
      }
    }

    &--large {
      @extend .image;
    }
  }
  .items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: repeat(${({count}) => Math.ceil(count / 2)}, 1fr);
    gap: 1.5rem;
    padding-left: 0;
    margin: 0;
    list-style: none;

    &--small {
      @extend .items;
      @include media-tablet-sm {
        grid-template-columns: repeat(3, 1fr);
        //grid-template-rows: repeat(${({count,imageWide}) => Math.ceil(count / (imageWide ? 2 : 3))}, 1fr);
      }
    }

    &--large {
      @extend .items;
    }
  }
</style>

<div class:list={[`wrapper--${layout.image_align}`]}>
  <div class:list={[`image--${layout.image_width}`]}>
    { image && <Image {...image} width="768" height="900" />}
  </div>
  <div class="content">
    { content && <div class="rt" set:html={md.render(content)}></div>}
    { cta && <CTA {...cta} />}
    { grid_items && (
      <ul class:list={[`items--${layout.image_width}`]}>
        { grid_items.map((item) => (
          <li>
            <h5 class="h3">{ item.title }</h5>
            <div set:html={md.render(item.content)}></div>
          </li>
        )) }
      </ul>
    )}
  </div>
</div>