---
// import MarkdownIt from 'markdown-it';
import CTA from 'src/components/global/cta/cta.astro';
import SocialShare from 'src/components/global/social-share/social-share.astro';
import {dateFormatter,imgix_article_default,imgix_article_mobile} from 'src/shared/utilities.js';
const { slug, collection,
  data: { headline, read_time, published, post_image, category, tags, project_url, show_share }
} = Astro.props;
// const md = new MarkdownIt({ html: true });
const show_short_date = collection === 'projects';
let srcset, sizes;
if (post_image?.src) {
  srcset = [
    [300,500,653,1000,1306].map(item => `${imgix_article_mobile(post_image.src, item)} ${item}w`).join(','),
    [800,950,1106,1172,2212,2344].map(item => `${imgix_article_default(post_image.src, item)} ${item}w`).join(',')
  ]
  sizes = [
    '(max-width: 590px) 95vw, 653px',
    '(max-width: 1600px) 73vw,(max-width: 2559px) 1106px, 1172px'
  ]
}
---
<style lang="scss" is:global>
  [data-posts-article] {
    @extend %article-grid;
    position: relative;
    padding-bottom: 4.5rem;
    margin-bottom: 3rem;

    > * {
      grid-column: content;
    }
    
    > p,
    > h2,
    > h3,
    > h4,
    pre.astro-code {
      margin: 0;
    }

    pre.astro-code {
      padding: 1em;
    }

    .article-header {
      grid-column: content-start/content-end;
      margin-top: 3rem;

      h1 {
        margin: 0 0 .75rem;
        max-width: none;
      }

      @include media-tablet {
        grid-column: jumbo-start/content-end;
      }
    }

    .article-image {
      grid-column: banner;
      border-right: solid 2px $color_text_primary_highlight;
      aspect-ratio: 1.278;

      @include media-tablet {
        aspect-ratio: 2.66;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: $color_secondary;

        @media (min-width: $layout_max_width) {
          border-radius: $radius_lg;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }

    .article-next {
      grid-column: content;
      text-align: right;

      svg {
        height: 1rem;
        width: .5rem;
        fill: $color_text_default;
        vertical-align: sub;
      }

      @include media-tablet {
        grid-column: content-end / jumbo-end;
        margin-top: 3rem;
        padding-right: 1rem;
      }
    }

    .article-sidebar-left,
    .article-sidebar-right {
      @include media-tablet-max {
        grid-column: content;
        text-align: center;
      }
      @include media-tablet {
        position: sticky;
        top: 120px;
        padding: 0 1rem;
      }
    }

    .article-sidebar-left {
      @include media-tablet {
        grid-column: jumbo-start/content-start;
        grid-row: 3;
        text-align: left;
      }
    }

    .article-sidebar-right {
      @include media-tablet {
        margin-top: 3rem;
        grid-column: content-end/jumbo-end;
        grid-row: 2;
        text-align: right;
      }
    }

    .article-background {
      background: linear-gradient(180deg, $color_primary_transition, transparent);
      grid-column: bg;
      grid-row: 2;
      position: absolute;
      top: 2rem;
      width: 100%;
      height: calc(100% - 2rem);
      z-index: -1;
    }

    .meta {
      display: flex;
      flex-direction: column;

      @include media-tablet {
        flex-direction: row;
        justify-content: space-between;
      }

      .tags-list {
        margin: 0;
        padding: 0;
        display: inline-block;

        li {
          display: inline-block;
          &::after {
            content:', ';
            white-space: pre;
          }
          &:last-child::after {
            content: '';
          }
        }
      }
    }
  }
</style>
<article data-posts-article itemscope itemtype="http://schema.org/Article">
  <header class="article-header">
    { category && <div class="eyebrow">{category} Project</div>}
    <h1 class="h1">{ headline }</h1>
    <div class="meta step-down">
      <div><span>{dateFormatter(show_short_date).format(published)}</span> | <span>{read_time} min read</span></div>
      { tags && (
      <div class="highlight">
        TECH: <ul class="tags-list">{tags.map(item => (<li>{item}</li>))}</ul>
      </div>
      )}
    </div>
  </header>
  {/*
  <div class="article-next step-down">
    <CTA style="simple" link="/" title={`View post: ${'hi'}`}>
      Next post <svg><use xlink:href="#caret-right"></use></svg>
    </CTA>
  </div>
  */}
  <div class="article-image">
    { !!post_image.src && (
      <picture>
        <source media="(max-width: 767px)" srcset={srcset[0]} sizes={sizes[0]} width="1000" height="782"/>
        <source media="(min-width: 768px)" srcset={srcset[1]} sizes={sizes[1]} width="1172" height="440"/>
        <img src={imgix_article_default(post_image.src, 1172)} width="1172" height="440"
          alt={post_image.alt}
          title={post_image.title}
        />
      </picture>
    )}
  </div>
  <div class="article-sidebar-left">
    { project_url && <CTA style="default" link={project_url}>Visit Project</CTA>}
  </div>
  <div class="article-background"></div>
  <slot />
  <div class="article-sidebar-right">
    { show_share && <SocialShare title={headline} />}
  </div>
</article>