---
import MarkdownIt from 'markdown-it';
import {dateFormatter,imgix_article_card} from 'src/shared/utilities.js';
const { show_short_date, post: {slug, collection, data: { excerpt, headline, read_time, published, post_image }} } = Astro.props;
const md = new MarkdownIt({ html: true });
const article_url = `/${collection}/${slug}/`;
let srcset, sizes;
if (post_image?.src) {
  srcset = [300,500,787,1000,1574].map(item => `${imgix_article_card(post_image.src, item)} ${item}w`).join(',');
  sizes = '(max-width: 579px) calc(100vw - 3rem),(max-width: 1654px) calc(50vw - 2.25rem), 787px';
}
---
<style lang="scss" is:global>
  [data-posts-card] {
    position: relative;

    .post-image-link {
      display: block;
      aspect-ratio: 2 / 1;
      img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: $radius_lg;
        object-fit: cover;
        background-color: $color_secondary;
      }
    }

    .meta {
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      top: 1rem;

      .date, .read-time {
        background-color: rgba($color_secondary, .5);
        padding: .25em .5em;
        border-radius: $radius_md;
      }

      .date {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding-right: .75em;
      }

      .read-time {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding-left: .75em;
      }
    }
    .content {
      .title {
        text-decoration: none;
      }
    }
  }
</style>
<article data-posts-card>
  <a class="post-image-link" href={article_url}>
    { !!post_image.src && (
      <img src={imgix_article_card(post_image.src, 787)} width="400" height="200"
        srcset={srcset}
        sizes={sizes}
        alt={post_image.alt}
        title={post_image.title}
      />
    )}
  </a>
  <div class="meta">
    <div class='date step-down'>
      {dateFormatter(show_short_date).format(published)}
    </div>
    <div class='read-time step-down'>
      {read_time} min read
    </div>
  </div>
  <div class="content">
    <a class="title" title={headline} href={article_url}>
      <h3 class="h2">
        {headline}
      </h3>
    </a>
    { excerpt && <div class="rt" set:html={md.render(excerpt)}></div>}
    <p><a title={headline} href={article_url}>
      Read More&hellip;
    </a></p>
  </div>
</article>