---
import MarkdownIt from 'markdown-it';
import Builder from './builder/builder.astro';
import CTA from '../global/cta/cta.astro';
const { content, form } = Astro.props;
const md = new MarkdownIt({ html: true });
---
<style lang="scss" is:global>
  [data-form] {
    @extend %primary-wrapper;
    @extend %content-grid;
    align-items: start;
    padding: 4.5rem 2em;
    max-width: $layout_max_width_small;
    margin-left: auto;
    margin-right: auto;

    > .content {
      @extend %content-grid-block;
    }
    > .form {
      @extend %content-grid-block;
    }
  }
  form[data-netlify] {
    > .hp {
      height: 0;
      overflow: hidden;
      margin: 0;
    }
  }
</style>

<div data-form>
  <div class="content" style={{'--desktop-column':'1/4','--tablet-column':'1/5'}}>
    { content && <div class="rt" set:html={md.render(content)}></div>}
  </div>
  <div class="form" style={{'--desktop-column':'5/9','--tablet-column':'6/11'}}>
    <form
      method="POST"
      name={form.name}
      data-netlify="true"
      data-netlify-honeypot="subject"
      autocomplete="false"
      action={form.action}
    >
      <input type="hidden" name="form-name" value={form.name} />
      <div class="hp">
        <label for="subject">Subject</label>
        <input id="subject" tabindex="-1" name="subject"/>
      </div>
      <Builder form={form} />
      <CTA type="submit" style="loud">{form.submit}</CTA>
  </div>
</div>