---
const { label, type, placeholder, name, required } = Astro.props;
---
<style lang="scss" is:global>
  [data-form-fields-text] {
    input[type="text"],
    input[type="email"] {
      display: block;
      width: 100%;
      background: rgba($color_text_default, .07);
      border-bottom-color: $color_text_default;
      border-left: none;
      border-right: none;
      border-top: none;
      padding: 0 .5em;
      line-height: 2em;
      height: 2em;
      color: $color_text_form_input;
      font-weight: $text_weight_bold;
      box-sizing: border-box;

      &::placeholder {
        color: rgba($color_text_form_placeholder, .5);
      }
    }
    textarea {
      display: block;
      min-width: 50%;
      width: 100%;
      box-sizing: border-box;
      padding: .25em;
      border-radius: 4px;
      border: #979797 1px solid;
    }
  }
</style>
<div class="form-input" data-form-fields-text>
  <label for={name}>{ label }{ required && (<span class="required">*</span>)}</label>
  { type === 'textarea' && (
    <textarea name={name} id={name} cols="30" rows="6" placeholder={placeholder} required={required}></textarea>
  )}
  { type !== 'textarea' && (
    <input type={type} id={name} name={name} placeholder={placeholder} required={required} />
  )}
</div>