---
import MarkdownIt from 'markdown-it';
import Image from 'src/components/global/image/image.astro';
import CTA from 'src/components/global/cta/cta.astro';
const { content, cta, layout, grid_items } = Astro.props;
const md = new MarkdownIt({ html: true });
---
<style lang="scss" is:global>
  .grid-simple {
    @extend %primary-wrapper;

    .content {
      padding-top: 4.5rem;
      padding-bottom: 3rem;
    }
    .list {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 4.5rem;
      padding-left: 0;
      margin: 0;
      list-style: none;
      gap: 8%;

      &-left {
        @extend .list;
        text-align: left;
        justify-content: flex-start
      }

      &-center {
        @extend .list;
        text-align: center;
        justify-content: center;
      }

      &-right {
        @extend .list;
        text-align: right;
        justify-content: flex-end;
      }
    }
    li {
      flex: 0 0 46%;
      // transition: ${({transitionDelay:delay}) => `opacity 500ms ${delay * 250 + 200}ms, transform 500ms ${delay * 250}ms`};
      // opacity: ${({transition}) => transition ? 1 : 0};
      // transform: translateY(${({transition}) => transition ? '0%' : '50%'});

      @include media-laptop-sm {
        flex-basis: 28%;
      }
    }
  }

  @include section-animate {
    .grid-simple .item {
      transition: transform 500ms var(--offset, 100ms),
        opacity 500ms var(--offset, 100ms);
      transform: translateY(100px);
      opacity: 0;
    }
    &.animate {
      .grid-simple .item {
        transform: scale(1) translateY(0%);
        opacity: 1;
      }
    }
  }
</style>

<div class:list={['grid-simple', { mini: layout.is_mini }]} data-grid-simple>
  <div class:list={['content', `text-${layout.text_align}`]}>
    { content && <div class="rt" set:html={md.render(content)}></div>}
    { cta && <CTA {...cta} />}
  </div>
  { grid_items && (
    <ul class={`list-${layout.text_align}`}>
      { grid_items.map((item, index) => (
        <li class="item" style={{'--offset': `${index * 275}ms`}}>
          { item.image && <Image image={item.image}
            srcset={[200,300,350,400,600,700]}
            sizes='(max-width: 909px) 45vw,(max-width: 1650px) 30vw, 350px'
          />}
          { item.content && (
            <div
              class:list={['rt']}
              set:html={md.render(item.content)}
            ></div>
          )}
        </li>
      ))}  
    </ul>
  )}
</div>