---
import {imgix} from 'src/shared/utilities.js'
import MarkdownIt from 'markdown-it';
const { name, company, title, testimonial_textarea: testimonial, headshot_image: headshot, index } = Astro.props;
const md = new MarkdownIt({ html: true });
let headshot_x1, headshot_x2;
if (headshot) {
  headshot_x1 = imgix(headshot,110,1);
  headshot_x2 = imgix(headshot,110,2);
}
---
<style lang="scss" is:global>
  .card-testimonial {
    border-radius: $radius_md;
    overflow: hidden;
    background-color: $color_text_default;
    position: relative;
    max-width: 600px;
    min-width: 340px;

    header {
      background: linear-gradient(180deg, $color_grad_1B, $color_grad_1A);
      padding: $text_mobile_line_height;
      padding-top: 0!important;
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;

      @include media-laptop-sm {
        padding: $text_desktop_line_height;
      }
    }
    img {
      width: 110px;
      height: 110px;
      border-radius: $radius_circle;
      flex: 0 0 auto;
      transform: translateY(10%);
      background-color: $color_white;
    }
    .svg {
      width: 100%;
      height: 0;
      position: absolute;
      padding-bottom: 8.33%;
      transform: translateY(-95%);

      svg {
        position: absolute; 
        height: 100%; 
        width: 100%; 
        left: 0; 
        top: 0;
      }
    }
    .text {
      margin-right: .75em;
      flex: 0 1 auto;
      color: $color_text_lite;

      > h5 {
        margin-bottom: 0;
      }
    }
    .body {
      color: $color_text_dark;
      font-style: italic;
      padding: 1px $text_mobile_line_height 0;
      margin-top: -($text_mobile_line_height_root);
      
      @include media-laptop-sm {
        padding: 0 $text_desktop_line_height;
        margin-top: -($text_desktop_line_height_root);
      }
    }
  }
  // uses a intersection observer to animate the testimonial
  .section--animate {
    .card-testimonial {
      transition: transform 500ms var(--offset, 100ms),
        opacity 500ms var(--offset, 100ms);
      transform: translateY(100px);
      opacity: 0;
      img {
        transition: transform 500ms calc(var(--offset, 100ms) + 250ms);
        transform: translateY(100%);
      }
    }
    // animation is active
    &.animate {
      .card-testimonial {
        transform: scale(1) translateY(0%);
        opacity: 1;
        img {
          transform: translateY(10%);
        }
      }
    }
  }
</style>

<article class="card-testimonial" data-card-testimonial
  style={{'--offset': `${index * 275}ms`}}
>
  <header>
    <div class='text'>
      <h5 class='mini_headline'>{ name }</h5>
      <div class='step-down'>{ company } | { title }</div>
    </div>
    { headshot && (
    <img src={headshot_x1}
      srcset={`${headshot_x1}, ${headshot_x2} 2x`}
      alt={`photo of ${name}`} width="110" height="110">
    )}
  </header>
  <div class="svg">
    <svg><use xlink:href='#card-wave'></use></svg>
  </div>
  <div class='body step-down' set:html={md.render(testimonial)}></div>
</article>