---
import MarkdownIt from 'markdown-it';
import {dateFormatter,imgix_article_card} from 'src/shared/utilities.js';
const { post_image } = Astro.props;
const md = new MarkdownIt({ html: true });
let srcset, sizes;
if (post_image?.src) {
  srcset = [300,500,787,1000,1574].map(item => `${imgix_article_card(post_image.src, item)} ${item}w`).join(',');
  sizes = '(max-width: 579px) calc(100vw - 3rem),(max-width: 1654px) calc(50vw - 2.25rem), 787px';
}
---
<style lang="scss" is:global>
  article[data-card-post] {
    height: 100%;
    background-color: $color_text_default;
    color: $color_text_dark_alt;
    border-radius: $radius_md;
    overflow: hidden;
    min-width: 300px;
    max-width: 500px;
    position: relative;

    .img {
      aspect-ratio: 2/1;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: $color_secondary;
      }
    }

    header {
      background: linear-gradient(180deg, $color_grad_1B, $color_grad_1A);
      padding: $text_mobile_line_height;
      padding-top: 0!important;
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;

      @include media-laptop-sm {
        padding: $text_desktop_line_height;
      }
    }
    .svg {
      width: 100%;
      height: 0;
      position: absolute;
      z-index: $zindex_background;
      padding-bottom: 6.6%;
      transform: translate(0, -98%) rotate(180deg);

      svg {
        position: absolute; 
        height: 100%; 
        width: 100%; 
        left: 0; 
        top: 0;
      }
    }
    .text {
      margin-right: .75em;
      flex: 0 1 auto;
      color: $color_text_lite;

      > h5 {
        margin-bottom: 0;
      }
    }
    .body {
      color: $color_text_dark;
      font-style: italic;
      padding: 1px $text_mobile_line_height 0;
      margin-top: -($text_mobile_line_height_root);
      
      @include media-laptop-sm {
        padding: 0 $text_desktop_line_height;
        margin-top: -($text_desktop_line_height_root);
      }
    }
  }
</style>

<article data-card-post>
  { !!post_image.src && (
    <div class="img">
      <img src={imgix_article_card(post_image.src, 787)} width="400" height="200"
        srcset={srcset}
        sizes={sizes}
        alt={post_image.alt}
        title={post_image.title}
      />
    </div>
  )}
  <div class="svg">
    <svg>
      <use xlink:href='#card-curve'></use>
    </svg>
  </div>
  <div class="content">
    <div class="date step-down">
      
    </div>
    <div class="read-time step-down">
       min read
    </div>
    <a class="title" title={''}>
      <h3 style={{margin:0}} class="h3">
        
      </h3>
    </a>
    {/* showExcerpt &&
      <PrismicRichText field={excerpt.richText} />
    */ }
    <a title={''}>
      Read More&hellip;
    </a>
  </div>
</article>