---
import MediaCaption from "src/components/global/media-caption.astro";
import { imgix } from 'src/shared/utilities.js';
const { caption, src, alt, jumbo = false, loading = 'lazy', width = 100, height = 100} = Astro.props;
const imageProps = { src, alt: alt || caption, loading, title: caption, width, height };
const sizes = !jumbo
  ? '(max-width: 590px) 92vw,(max-width: 1023px) 544px,(max-width: 2559px) 612px, 748px'
  : '(max-width: 767px) 100vw,(max-width: 1023px) 90vw, (max-width: 1600px) 85vw, (max-width: 2559px) 1270px, 1316px';
const srcset = (!jumbo
  ? [300,400,544,612,748,1088,1224,1496]
  : [400,500,600,700,800,900,1270,1316,2540,2632]
).map(item => `${imgix(src, item)} ${item}w`).join(',');
---
<style lang="scss" is:global>
  [data-snippet-image] {
    margin: 0;

    &.jumbo {
      grid-column: jumbo;

      @include media-tablet {
        transform: translateX(-2rem);
      }
    }

    > div {
      aspect-ratio: var(--ar);
      position: relative;
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }

    figcaption {
      > div {
        padding: .3em 1em;
        background-color: rgba($color_black_1, .5);
        color: $color_white;
        border-radius: 0 0 $radius_sm $radius_sm;
      }
    }
  }
</style>
<figure data-snippet-image class:list={[{jumbo}]} style={{'--ar': `${width}/${height}`}}>
  <div><img {...imageProps} srcset={srcset} sizes={sizes} /></div>
  { !!caption && (
  <figcaption>
    <MediaCaption caption={caption} />
  </figcaption>
  )}
</figure>