---
import 'normalize.css';
import "../styles/theme.scss";
import DefaultSVG from "src/components/svg/default.astro";
import Header from "src/components/layout/header.astro";
import Footer from "src/components/layout/footer.astro";

const props = Astro.props;
const { origin, pathname } = Astro.url;
// console.log(props);
const {seo:{no_index,canonical_url,page_title,page_description,open_graph_type}} = Astro.props;
const thumbnails = {};
const title = `${page_title} | Ed Meehan`;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {/* Standard */}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={page_description} />
    {/* Open Graph */}
    <meta property="og:title" content={title} />
    <meta property="og:description" content={page_description} />
    <meta property="og:url" content={`${origin}${pathname}`} />
    <meta property="og:type" content={`${open_graph_type || 'website'}`}/>
    <!-- POST -->
    <!-- 
    <meta property="article:published_time" content={data.data.prismicBlog.first_publication_date} />
    <meta property="article:modified_time" content={data.data.prismicBlog.last_publication_date} />
    <meta property="article:author" content="https://edwardmeehan.com/about" />
    <meta property="article:section" content="Blog" /> -->
    <!-- PROJECT -->
    <!-- <meta property="og:type" content="article"/>
    <meta property="article:published_time" content={data.data.prismicProject.first_publication_date}/>
    <meta property="article:modified_time" content={data.data.prismicProject.last_publication_date}/>
    <meta property="article:author" content="https://edwardmeehan.com/about"/>
    <meta property="article:section" content={data.data.prismicProject.data.category}/>
    { data.data.prismicProject.data.tags_list.richText.map(({text}) => (
      <meta key={text} property="article:tag" content={text} />
    ))} -->

    {/* Open Graph Images */}
    {[].map(({url,width,height}) => (
      <meta property="og:image" content={url} />
      <meta property="og:image:width" content={width} />
      <meta property="og:image:height" content={height} />
    ))}
    <!-- { !!thumbnails?.og?.url && <meta name="twitter:image" content={'twitter image url'} /> } -->
    {/* No Index */}
    { !!no_index && <meta name="robots" content="noindex,nofollow" /> }
    {/* Canonical */}
    <link rel="canonical" href={`${origin}${canonical_url || pathname}`}></link>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="true"/>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=block" rel="stylesheet"/>

    <!-- Additional meta used - need to add -->
  </head>
  <body>
    <DefaultSVG />
    <div class="layout">
      <Header />
      <div class="layout__body">
        <div class="layout__content">
          <slot />
        </div>
        <Footer />
      </div>
    </div>
  </body>
</html>