---
import 'normalize.css';
import "../styles/theme.scss";
import { image_og } from "data/settings.json";
import { imgix_og } from 'src/shared/utilities.js';
import DefaultSVG from "src/components/svg/default.astro";
import Header from "src/components/layout/header.astro";
import Footer from "src/components/layout/footer.astro";

const { origin, pathname } = Astro.url;
const {
  seo: {
    no_index,
    canonical_url,
    page_title,
    page_description,
    open_graph_type,
    featured_image
  },
  _schema,
  published,
  category,
  tags
} = Astro.props;
const title = `${page_title} | Ed Meehan`;
const image = featured_image || image_og;
const image_sizes = [
  {width:1400,height:700,type:'default'},
  {width:1200,height:630,type:'facebook'},
  {width:180,height:110,type:'linkedIn'},
];
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {/* Standard */}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
    <meta name="description" content={page_description}/>
    {/* Open Graph */}
    <meta property="og:title" content={title}/>
    <meta property="og:description" content={page_description}/>
    <meta property="og:url" content={`${origin}${pathname}`}/>
    <meta property="og:type" content={`${open_graph_type || 'website'}`}/>
    {/* Blog Post */}
    { _schema === 'blog' && (
      <meta property="article:published_time" content={published.toISOString()}/>
      <meta property="article:author" content="https://edwardmeehan.com/about"/>
      <meta property="article:section" content="Blog"/>
    )}
    {/* Project */}
    { _schema === 'project' && (
      <meta property="article:published_time" content={published.toISOString()}/>
      <meta property="article:author" content="https://edwardmeehan.com/about"/>
      <meta property="article:section" content={category}/>
      <>{ tags?.map(tag => <meta property="article:tag" content={tag}/>) }</>
    )}
    {/* Open Graph Images */}
    {image_sizes.map(({width,height}) => (
      <meta property="og:image" content={imgix_og(image.src,width,height)}/>
      <meta property="og:image:alt" content={image?.alt || 'Ed Meehan web developer'}/>
      <meta property="og:image:width" content={width.toString()}/>
      <meta property="og:image:height" content={height.toString()}/>
    ))}
    {/* No Index */}
    { !!no_index && <meta name="robots" content="noindex,nofollow"/> }
    {/* Canonical */}
    <link rel="canonical" href={`${origin}${canonical_url || pathname}`}/>
    {/* Fonts */}
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="true"/>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=block" rel="stylesheet"/>
    {/* Icons */}
    <link rel="icon" href="/favicon.png" type="image/png"/>
    <link rel="apple-touch-icon" sizes="48x48" href="/icons/icon-48x48.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="96x96" href="/icons/icon-96x96.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="192x192" href="/icons/icon-192x192.png"/>
    <link rel="apple-touch-icon" sizes="256x256" href="/icons/icon-256x256.png"/>
    <link rel="apple-touch-icon" sizes="384x384" href="/icons/icon-384x384.png"/>
    <link rel="apple-touch-icon" sizes="512x512" href="/icons/icon-512x512.png"/>
    {/* Sitemap */}
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <DefaultSVG />
    <div class="layout">
      <Header />
      <div class="layout__body">
        <div class="layout__content">
          <slot />
        </div>
        <Footer />
      </div>
    </div>
  </body>
</html>